html { font-size: 10px;}

body{
  background: #caebff;
  font-size: 1.6rem;
  font-family: Verdana, sans-serif;
}

.container{
  max-width: 40rem;
  width: 87%;
  margin: 8rem auto;
  background: white;
  border-radius: 0.8rem;
  padding: 2.4rem;
  position: relative;
  box-shadow: 0.5rem 0.5rem 1.6rem #00000062;
}

#question{
  margin-top: 0;
  margin-bottom: 1.6rem;
}

#qText{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 3.2rem 0;
  border-radius: 0.8rem;
  background: #ffbb824a;
}

#choices{
  list-style: none;
  padding: 0;
  margin-bottom: 1.6rem;
  li {
    border: 0.3rem solid #b7d9ff;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      background: #b7d9ff5d;
    }
  }
  .correct{
    background: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    pointer-events: none;
    &::after{
      content: ' ... 正解!';
    }
  }
  .wrong{
    background: #f8d8da;
    border-color: #f5c;
    color: #721c24;
    pointer-events: none;
    &::after{
      content: ' ... 残念!';
    }
  }
}

#btn, #result > a{
  background: #3498db;
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  color: white;
  box-shadow: 0 0.8rem 0 #2880b9;
  &.disabled{
    background: #ccc;
    box-shadow: 0 0.8rem 0 #bbb;
    opacity: 0.7;
  }
}

#tips{
  display: flex;
  justify-content: space-around;
  #hintBtn, #expBtn{
    padding: 0.5rem;
    margin-bottom: 2.4rem;
    border-radius: 1rem;
    color: white;
    background: #0cab18;
    box-shadow: 0 0.8rem 0 #0c9018;
    cursor: pointer;
    &.disabled{
      background: #ccc;
      box-shadow: 0 0.8rem 0 #bbb;
      opacity: 0.7;
    }
  }
}

#result, #hint, #explanation{
  position: absolute;
  max-width: 30rem;
  width: 90%;
  background: white;
  padding: 3.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  top: 8rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  transition: 0.5s;
  &.hidden{
    transform: translateY(-100rem);
  }
  a{
    display: block;
    text-decoration: none;
  }
  .close{
    color: white;
    background: #3498db;
    margin-top: 3.2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 350px){
  body{
    font-size: 1.4rem;
  }

  .container{
    padding: 3.2rem 1.6rem;
    margin: 4rem auto;
  }

  #qText{
    font-size: 1.8rem;
  }

  #choices{
    li {
      margin-bottom: 0.8rem;
    }
  }

  #result, #hint, #explanation{
    padding: 1.6rem;
  }
}
