body{
  background: #caebff;
  font-size: 1.2rem;
  font-family: Verdana, sans-serif;
}

.container{
  width: 25rem;
  margin: 5rem auto;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  box-shadow: 0.3rem 0.3rem 1rem #00000062;
}

#question{
  margin-top: 0;
  margin-bottom: 1rem;
}

#q_text{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0;
  border-radius: 0.5rem;
  background-color: #ffbb824a;
}

#choices{
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  li {
    border: 0.2rem solid #b7d9ff;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      background-color: #b7d9ff5d;
    }
  }
  .correct{
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    font-weight: bold;
    pointer-events: none;
    &::after{
      content: ' ... 正解!';
    }
  }
  .wrong{
    background-color: #f8d8da;
    border-color: #f5c;
    color: #721c24;
    font-weight: bold;
    pointer-events: none;
    &::after{
      content: ' ... 残念!';
    }
  }
}

#btn, #result > a{
  background-color: #3498db;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  color: white;
  box-shadow: 0 0.5rem 0 #2880b9;
  &.disabled{
    background-color: #ccc;
    box-shadow: 0 0.5rem 0 #bbb;
    opacity: 0.7;
  }
}

#tips{
  display: flex;
  justify-content: space-around;
  #hint_btn, #explanation_btn{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #0cab18;
    box-shadow: 0 0.5rem 0 #0c9018;
    cursor: pointer;
    &.disabled{
      background-color: #ccc;
      box-shadow: 0 0.5rem 0 #bbb;
      opacity: 0.7;
    }
  }
}

#result, #hint, #explanation{
  position: absolute;
  width: 18rem;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
  top: 3rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.5s;
  &.hidden{
    transform: translateY(-50rem);
  }
  p{
    font-size: 1.0rem;
  }
  a{
    display: block;
    text-decoration: none;
  }
  .close{
    color: white;
    background-color: #3498db;
    margin-top: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
