body{
  background: #efdec1;
  font-size: 1rem;
  font-family: Verdana, sans-serif;
}

.container{
  width: 25rem;
  margin: 2rem auto;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
}

#question{
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

#choises{
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  li {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    &:hover{
      background-color: rgb(231, 231, 231);
    }
  }
}

#btn{
  background-color: #3498db;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  color: white;
  box-shadow: 0 0.5rem 0 #2880b9;
  &.disabled{
    background-color: #ccc;
    box-shadow: 0 0.5rem 0 #bbb;
    opacity: 0.7;
  }
}

// #btn.disabled{
//   background-color: #ccc;
//   box-shadow: 0 0.5rem 0 #bbb;
//   opacity: 0.7;
// }

